Câu 1

In [ ]:

import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")

cat_cols = {'GT', 'DT', 'KV', 'KT'}

quantitative = []
qualitative = []

for col in df.columns:
    if col in cat_cols:
        qualitative.append(col)
    elif pd.api.types.is_numeric_dtype(df[col]):
        quantitative.append(col)

print("Biến định lượng:", quantitative)
print("Biến định tính:", qualitative)

Biến định lượng: ['STT', 'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6', 'DH1', 'DH2', 'DH3']
Biến định tính: ['GT', 'DT', 'KV', 'KT']

Câu 2

In [ ]:
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")

scale = {}

for col in df.columns:
    if col in ['GT', 'DT', 'KT']:
        scale[col] = "Danh nghĩa (Nominal)"
    elif col == 'KV':
        scale[col] = "Thứ bậc (Ordinal)"
    else:
        scale[col] = "Khoảng (Interval)"

pd.DataFrame(list(scale.items()), columns=["Tên biến", "Thang đo"])

   Tên biến              Thang đo
0       STT     Khoảng (Interval)
1        T1     Khoảng (Interval)
2        L1     Khoảng (Interval)
3        H1     Khoảng (Interval)
4        S1     Khoảng (Interval)
5        V1     Khoảng (Interval)
6        X1     Khoảng (Interval)
7        D1     Khoảng (Interval)
8        N1     Khoảng (Interval)
9        T2     Khoảng (Interval)
10       L2     Khoảng (Interval)
11       H2     Khoảng (Interval)
12       S2     Khoảng (Interval)
13       V2     Khoảng (Interval)
14       X2     Khoảng (Interval)
15       D2     Khoảng (Interval)
16       N2     Khoảng (Interval)
17       T3     Khoảng (Interval)
18       L3     Khoảng (Interval)
19       H3     Khoảng (Interval)
20       S3     Khoảng (Interval)
21       V3     Khoảng (Interval)
22       X3     Khoảng (Interval)
23       D3     Khoảng (Interval)
24       N3     Khoảng (Interval)
25       T4     Khoảng (Interval)
26       L4     Khoảng (Interval)
27       H4     Khoảng (Interval)
28       S4     Khoảng (Interval)
29       V4     Khoảng (Interval)
30       X4     Khoảng (Interval)
31       D4     Khoảng (Interval)
32       N4     Khoảng (Interval)
33       T5     Khoảng (Interval)
34       L5     Khoảng (Interval)
35       H5     Khoảng (Interval)
36       S5     Khoảng (Interval)
37       V5     Khoảng (Interval)
38       X5     Khoảng (Interval)
39       D5     Khoảng (Interval)
40       N5     Khoảng (Interval)
41       T6     Khoảng (Interval)
42       L6     Khoảng (Interval)
43       H6     Khoảng (Interval)
44       S6     Khoảng (Interval)
45       V6     Khoảng (Interval)
46       X6     Khoảng (Interval)
47       D6     Khoảng (Interval)
48       N6     Khoảng (Interval)
49       GT  Danh nghĩa (Nominal)
50       DT  Danh nghĩa (Nominal)
51       KV     Thứ bậc (Ordinal)
52      DH1     Khoảng (Interval)
53      DH2     Khoảng (Interval)
54      DH3     Khoảng (Interval)
55       KT  Danh nghĩa (Nominal)

Câu 3

In [ ]:
import pandas as pd
df = pd.read_csv("dulieuxettuyendaihoc.csv")
print("10 dòng đầu:")
print(df.head(10))
print("\n10 dòng cuối:")
print(df.tail(10))

10 dòng đầu:
   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

10 dòng cuối:
    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
90   91  8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  ...  8.3  8.7  7.8   M
91   92  7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  ...  7.2  7.4  7.0   M
92   93  5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  ...  5.9  6.7  5.8   M
93   94  5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  ...  8.7  7.8  5.0   M
94   95  5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  ...  7.3  6.8  5.3   M
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
90 NaN    2  6.25  4.00  6.50   A
91 NaN  2NT  4.75  4.75  4.50   A
92 NaN    1  3.25  5.25  4.25   A
93 NaN    1  3.50  4.25  5.00   A
94 NaN    1  4.25  2.50  4.75   A
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

Câu 4

In [ ]:
import pandas as pd
df = pd.read_csv("dulieuxettuyendaihoc.csv")
print("Số giá trị thiếu DT:", df['DT'].isna().sum())
print("\nBảng tần số DT:")
print(df['DT'].value_counts(dropna=False))
print("\nBảng tần suất DT:")
print(df['DT'].value_counts(normalize=True, dropna=False))
print("\nSố giá trị DT riêng biệt:", df['DT'].nunique(dropna=False))
df['DT'] = df['DT'].fillna(0)
print("\nSau khi điền, số giá trị thiếu DT:", df['DT'].isna().sum())

Số giá trị thiếu DT: 97

Bảng tần số DT:
DT
NaN    97
1.0     2
6.0     1
Name: count, dtype: int64

Bảng tần suất DT:
DT
NaN    0.97
1.0    0.02
6.0    0.01
Name: proportion, dtype: float64

Số giá trị DT riêng biệt: 3

Sau khi điền, số giá trị thiếu DT: 0

Câu 5

In [ ]:
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv")

t1 = df['T1']

missing = t1.isna().sum()
freq = t1.value_counts(dropna=False)
ratio = t1.value_counts(dropna=False, normalize=True)
mean_value = t1.mean()

print(f"Số giá trị thiếu T1: {missing}")
print("\nBảng tần số T1:")
print(freq)
print("\nBảng tần suất T1:")
print(ratio)

df.loc[t1.isna(), 'T1'] = mean_value

print(f"\nGiá trị Mean của T1: {mean_value}")
print("Sau khi điền, số giá trị thiếu T1:", df['T1'].isna().sum())

Số giá trị thiếu T1: 0

Bảng tần số T1:
T1
5.2    5
7.3    5
5.3    5
6.0    4
7.2    4
7.9    4
4.9    3
5.4    3
5.0    3
8.2    3
6.5    3
5.5    3
6.3    3
8.8    2
7.1    2
8.3    2
6.4    2
3.6    2
8.1    2
6.6    2
5.6    2
5.7    2
5.8    2
3.0    2
5.1    2
9.3    1
3.9    1
2.5    1
2.8    1
2.4    1
3.4    1
4.3    1
4.4    1
4.7    1
4.5    1
2.6    1
7.6    1
6.7    1
6.9    1
6.1    1
7.0    1
6.2    1
4.6    1
4.2    1
7.5    1
4.8    1
5.9    1
8.4    1
7.8    1
8.6    1
3.7    1
2.7    1
4.1    1
Name: count, dtype: int64

Bảng tần suất T1:
T1
5.2    0.05
7.3    0.05
5.3    0.05
6.0    0.04
7.2    0.04
7.9    0.04
4.9    0.03
5.4    0.03
5.0    0.03
8.2    0.03
6.5    0.03
5.5    0.03
6.3    0.03
8.8    0.02
7.1    0.02
8.3    0.02
6.4    0.02
3.6    0.02
8.1    0.02
6.6    0.02
5.6    0.02
5.7    0.02
5.8    0.02
3.0    0.02
5.1    0.02
9.3    0.01
3.9    0.01
2.5    0.01
2.8    0.01
2.4    0.01
3.4    0.01
4.3    0.01
4.4    0.01
4.7    0.01
4.5    0.01
2.6    0.01
7.6    0.01
6.7    0.01
6.9    0.01
6.1    0.01
7.0    0.01
6.2    0.01
4.6    0.01
4.2    0.01
7.5    0.01
4.8    0.01
5.9    0.01
8.4    0.01
7.8    0.01
8.6    0.01
3.7    0.01
2.7    0.01
4.1    0.01
Name: proportion, dtype: float64

Giá trị Mean của T1: 5.946000000000001
Sau khi điền, số giá trị thiếu T1: 0

Câu 6

In [ ]:
import pandas as pd
df = pd.read_csv("dulieuxettuyendaihoc.csv")
score_cols = [c for c in df.columns
              if c not in ['GT', 'DT', 'KV', 'KT'] and pd.api.types.is_numeric_dtype(df[c])]
for col in score_cols:
    if df[col].isna().sum() > 0:
        mean_val = df[col].mean()
        df[col] = df[col].fillna(mean_val)
        print(f"{col}: điền {mean_val:.2f}")

print("\nTổng số dữ liệu thiếu còn lại:", df.isna().sum().sum())

Tổng số dữ liệu thiếu còn lại: 97

Câu 7

In [ ]:
import pandas as pd
df = pd.read_csv("dulieuxettuyendaihoc.csv")
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] +
              df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] +
              df['V2']*2 + df['X2'] + df['D2'] + df['N2']) / 10
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] +
              df['V6']*2 + df['X6'] + df['D6'] + df['N6']) / 10
print(df[['TBM1', 'TBM2', 'TBM3']].head())

   TBM1  TBM2  TBM3
0  7.00  7.54  7.01
1  4.69  5.47  5.07
2  5.77  5.38  6.04
3  6.21  5.20  6.88
4  6.50  6.36  6.99

Câu 8

In [ ]:
def xep_loai(tbm):
    if tbm < 5:
        return 'Y'
    elif tbm < 6.5:
        return 'TB'
    elif tbm < 8:
        return 'K'
    elif tbm < 9:
        return 'G'
    else:
        return 'XS'
df['XL1'] = df['TBM1'].apply(xep_loai)
df['XL2'] = df['TBM2'].apply(xep_loai)
df['XL3'] = df['TBM3'].apply(xep_loai)

print(df[['XL1', 'XL2', 'XL3']].head())

  XL1 XL2 XL3
0   K   K   K
1   Y  TB  TB
2  TB  TB  TB
3  TB  TB   K
4   K  TB   K

Câu 9

In [ ]:
for i in [1, 2, 3]:
    col = f'TBM{i}'
    df[f'US_TBM{i}'] = (df[col] - df[col].min()) / (df[col].max() - df[col].min()) * 4

print(df[['US_TBM1', 'US_TBM2', 'US_TBM3']].head())

    US_TBM1   US_TBM2   US_TBM3
0  2.930693  3.029126  2.537143
1  0.643564  1.019417  0.320000
2  1.712871  0.932039  1.428571
3  2.148515  0.757282  2.388571
4  2.435644  1.883495  2.514286

Câu 10

In [ ]:
def xet_tuyen(row):
    if row['KT'] in ['A', 'A1']:
        diem = (row['DH1']*2 + row['DH2'] + row['DH3']) / 4
    elif row['KT'] == 'B':
        diem = (row['DH1'] + row['DH2']*2 + row['DH3']) / 4
    else:
        diem = (row['DH1'] + row['DH2'] + row['DH3']) / 3
    return 1 if diem >= 5 else 0

df['KQXT'] = df.apply(xet_tuyen, axis=1)

print(df[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']].head())

   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0

Câu 11

In [ ]:
df.to_csv("processed_dulieuxettuyendaihoc.csv", index=False)